		html{
			margin: 0px;
			padding: 0px;
			overflow: hidden;
			text-align: center;
			height: 780px;
			width: 1500px;
		}
		body{
			margin: 0px;
			padding: 0px;
			height: 780px;
			width: 1500px;
			text-align: center;
			overflow: hidden;
			background-color: #1C1C1C;
		}


		hr{
			margin:0px;
			padding:0px;
			color:#474747;
			background-color: #474747;
			border:0;
			height:1px;
		}

		.uright input{
			background:transparent;
			border:0px solid #ffffff;
			height: 20px;
			width: 150px;
			margin: 0px;
			padding: 0px;
			/*border:0px solid #34383D;*/

		}

		.clear{
			clear: both;
			padding:0px;
			margin: 0px;
		}
		.float{
			float:left;
		}



		.container{
			height: 100%;
			width: 100%;
		}
		.header{
			background-image:url("../images/header.jpg");
			background-repeat:no-repeat;
			height:10%;
			
		}

		.imgheader{
			width:720px;
			height:100%;
		}
			.imglogo{
				float: left;
				padding-top: 8px;
			
			}
			.imgphone{
				float:right;
				padding-top:20px;
				padding-right: 20px;
			}
		.nav{
			
			height:5%;
			width:720px;
			
		}

		.main{
			width: 100%;
			height: 76%;
			
			background-image:url("../images/mainbackground.jpg");
			background-repeat:no-repeat;
			
		}

		.mainbody{
			width: 720px;
			height: 100%;
			margin-top: 0px;
			padding: 0px;

			background-image:url("../images/mainbackground.jpg");
			background-repeat:no-repeat;
		}
		.up{
			height: 39.5%;
			width: 100%;

		}

			.uright{
				background-image:url("../images/loginnew.jpg");
				background-repeat:no-repeat;
				background-repeat:no-repeat;
				
				width:280px; 
				padding-top: 60px;
				padding-left: 18px;

				float:left;
			}

			.input{
				margin-left: 20px;
			}
			.input input{
				background:transparent;
				margin-right: 23px;
				width: 50px;
				height: 30px;
				border: 1px solid #ccc;
			}
			.input input:hover{
				cursor: pointer;
			}
	


		.middle{
			height: 30%;
			width: 100%;
			float: left;
		}

		.mleft{
			float: left;
			height: 100%;
			width: 50%;
		}
		.mright{
			float: left;
			height: 100%;
			width: 50%;
		}

		.down{
			height: 30%;
			width: 100%;
			padding-bottom: -1px;
			float: left;
		}

		.dleft{
			height: 100%;
			width: 50%;
			float: left;	
		}	
		.dright{
			height: 100%;
			width: 50%;
			float: left;
		}

		.footer{
			clear: both;
			width: 720px;

			background-color:#1C1C1C;
			height:8%;
		}