@charset "utf-8"; 
	*{margin:0;padding: 0;font-size: 14px;}
	#ul{
		list-style:none;
		height:100%;
		margin-top:10px;
		overflow: hidden;
	}
	#li{
		float: left;
		height:100%;
		overflow: hidden;
	}
	#a{
		display: block;
		text-decoration: none;/*去掉下划线*/
		height:34px;
		line-height: 34px; /*文字垂直居中*/
		width: 100px;
		background-color:  #ccc;/* #1C1C1C; */ 
		text-align: center;
		overflow: hidden;
	}

	#a:hover{
		background-color:#f60 ;/* black; */
		color: white;
		overflow: hidden;
	}